include ../button-open/button-open.pug
mixin dropDown(options, data, text)
  .dropdown(data-id=data.id)
    span.dropdown__selection(data-id=data.id)=text
    +buttonOpen()
    .list(data-name=data.name)
      each value, index in options
        div(class='option' data-name=index)
          div.option-text
            h3.option-text__item=options[index]['name']
          div.option-button
            button.option-button__decrement -
            span.option-button__counter=options[index]['count']
            button.option-button__increment +
      div.list-button
        h3.list-button__clean Очистить
        h3.list-button__apply Применить