mixin checkboxButtons(id, data_class, options)
  .checkbox-list(class = data_class)
    if data_class=='simple'
      h3.checkbox-list__title Checkbox list
      .list
        each value, index in options
          .list__item
            input(id=index type='checkbox' ).checkbox
            label(for=index)
              .item-text
                p.item-text__text !{value}

    else if data_class=='rich'
      h3.checkbox-list__title Rich Checkbox Buttons
      .list
        each value, index in options
          .list__item
            input(id=index type='checkbox' ).checkbox
            label(for=index)
              .item-text
                p.item-text__title !{options[index]['title']}
                p.item-text__subtitle !{options[index]['description']}

    
