include ../button-open/button-open.pug
mixin dropDown(options, data, text, title)
  h3.title=title
  .dropdown(data-id=data.id)
    input.dropdown__selection(type='text' placeholder=text value='' data-id=data.id readonly)
    +buttonOpen()
    .list(data-name=data.name)
      each value, index in options
        div(class='option' data-name=index)
          div.option-text
            h3.option-text__item=options[index]['name']
          div.option-button
            button.option-button__decrement -
            span.option-button__counter=options[index]['count']
            button.option-button__increment +
      div.list-button
        button.list-button__clean Очистить
        button.list-button__apply Применить
